
body {
	background-image: url("http://housesinvallejo.com/wp-content/uploads/2014/07/bigstock-Blackboard-chalkboard-textur-15751904.jpg");
}

.tic-tac-toe-container {
	width: 400px;
	margin: auto;
	position: relative;
	bottom: 400px;
	left: 42px;
	margin-bottom: 40px;
}

#welcome {
	font-size: 100px;
	font-family: 'Indie Flower', cursive;
	color: white;
	text-align: center;
	position: relative;
	opacity: .8;
}

/*this styles the players names as they appear*/
#player-two {
	position: relative;
	font-family: 'Indie Flower', cursive;
	color: white;
	left: 1114px;
	bottom: -8px;
}
/*this styles the players names as they appear*/
#player-one {
	position: relative;
	font-family: 'Indie Flower', cursive;
	color: white;
	right: -240px;
	top: 75px;
}

#viewname1 {
	font-family: 'Indie Flower', cursive;
	color: white;
	font-size: 50px;
	top: 173px;
	right: -150px;
	position: relative;

}

#viewname2 {
	font-family: 'Indie Flower', cursive;
	color: white;
	font-size: 50px;
	position: relative;
	left: 1000px;

}

#left {
	color: white;
	font-family: 'Indie Flower', cursive;
	position: relative;
	display: inline;
	top: 170px;
	right: -248px;

	
}

#right {
	color: white;
	font-family: 'Indie Flower', cursive;
	position: relative;
	display: inline;
	left: 1070px;
	top: 172px;
}


#top-left {
	border: 2px solid white;
	height: 100px;
	width: 100px;
	border-left: none;
	border-top: none;
	
	
}
#top-center {
	border: 2px solid white;
	height: 100px;
	width: 100px;
	border-top: none;

	
}
#top-right {
	border: 2px solid white;
	height: 100px;
	width: 100px;
	border-right: none;
	border-top: none;
}
#center-left {
	border: 2px solid white;
	height: 100px;
	width: 100px;
	border-left: none;
}
#dead-center {
	border: 2px solid white;
	height: 100px;
	width: 100px;
}
#center-right {
	border: 2px solid white;
	height: 100px;
	width: 100px;
	border-right: none;
}
#bottom-left {
	border: 2px solid white;
	height: 100px;
	width: 100px;
	border-left: none;
	border-bottom: none;
}
#bottom-center {
	border: 2px solid white;
	height: 100px;
	width: 100px;
	border-bottom: none;
}
#bottom-right {
	border: 2px solid white;
	height: 100px;
	width: 100px;
	border-right: none;
	border-bottom: none;
}

#start-button {
	position: relative;
	top: -115px;
	left: 583px;
}

button#reset-button {
  right: -710px;
  position: relative;
  top: -115px;
}

.piece-style {
	font-family: 'Indie Flower', cursive;
	color: white;
	font-size: 50px;
	text-align: center;
	position: relative;
}

#p1score {
	font-family: 'Indie Flower', cursive;
	color: white;
	font-size: 50px;
	position: relative;
	left: 260px;
	top: 100px;

}

#p2score {
	font-family: 'Indie Flower', cursive;
	color: white;
	font-size: 50px;
	position: relative;
	left: 1120px;
	top: -41px;
	
}

 
